.learning-module {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);

  .learning-module__module-card {
    background-color: var(--secondary-surface);
    padding: 10px;
    width: 215px;
    height: 110px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #2e3a50;
    transition: transform 0.2s ease, border-color 0.2s ease;
    cursor: pointer;
    overflow: hidden;
    border-radius: var(--border-radius);

    &:hover {
      transform: translateY(-4px);
      border-color: #00e699;
    }
  }

  p {
    color: var(--text-muted-color);
  }

  a {
    all: unset;
  }
}
