<div class="landing-page">
  <div class="landing-page__headline">
    Lern<span>Hub</span>
  </div>
  <p>
    Lern-Hub hilft Auszubildenden aus Deutschland dabei, sich optimal auf die schriftlichen IHK-Prüfungen AP1 und AP2
    vorzubereiten.
    <br>
    Derzeit liegt der Fokus auf IT-Ausbildungsberufen.
  </p>
  <br>
  <div class="info-card">
    Diese Plattform ist noch in Entwicklung und somit unvollständig!
  </div>
  <br>
  <button class="landing-page__button" [routerLink]="[URLRoutes.LEARNING_MODULE]">Jetzt Loslegen<mat-icon>keyboard_arrow_right</mat-icon></button>
</div>
