<footer class="footer">
  <div class="footer__container">
    <div class="footer__brand">
      <h2>Lern<span>Hub</span></h2>
      <p>Die ultimative Lernplattform</p>
    </div>

    <div class="footer__nav">
      <div>
        <h4>Rechtliches</h4>
        <a href="{{URLRoutes.IMPRINT}}">Impressum</a>
        <a href="{{URLRoutes.PRIVACY_POLICY}}">Datenschutz</a>
      </div>
      <div>
        <h4>Kontakt</h4>
        <a href="mailto:kontakt@lern-hub.de">kontakt&#64;lern-hub.de</a>
        <a href="https://github.com/TeamThree-Devs/" target="_blank">TeamThree-Devs</a>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="footer__bottom-sponsor">
        <span>Sponsored by</span>
        <a href="https://deinserverhost.de" target="_blank">
          <img src="/_assets/deinServerHost-Logo.svg" alt="DeinServerHost Logo">
        </a>
      </div>
      <br>
      <br>
      <span>© 2025 TeamThree</span>
    </div>
  </div>
</footer>
